<!DOCTYPE html>
<html>

<head>
  <title>BandoMap - Find awesome flying spots</title>
  <link rel="icon"
      type="image/png"
      href="https://i.imgur.com/uQux3w0.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--Import Google Icon Font-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>



<body>

  <div class="navbar-fixed">
    <nav class="deep-purple darken-1">
      <div class="nav-container">
        <div class="nav-wrapper">

          <a href="#" data-activates="slide-out" id='button-collapse' class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right">
          {{#if user}}
            <li><a class="modal-trigger" href="#modalUser"><i class="material-icons">more_vert</i></a></li>
          {{else}}
            <li><a class="btn-flat" href="/auth/facebook" style="color: #fff;">Log in with facebook</a></li>
          {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="main">

    <ul id="slide-out" class="side-nav fixed">
      <nav class="deep-purple darken-1">
        <div class="nav-container">
          <div class="nav-wrapper">
            <div class="container">
              <div class="row">
                <div class="col s2">
                  <i class="material-icons">map</i>
                </div>
                <div class="col s10">
                  <a href="/" style="font-weight: bold; font-size: 20px;"> BandoMap</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      {{#if user}}
      <li><div class="user-view">
      <div class="background">
        <img src="https://i.imgur.com/Kb9ScFX.jpg">
      </div>
      <a class="modal-trigger" href="#modalUser"><img class="circle" src="http://graph.facebook.com/{{user.facebook.id}}/picture?width=100&height=100"></a>
      <a class="modal-trigger" href="#modalUser"><span class="white-text name">{{user.facebook.name}}</span></a>
      <a><span class="white-text email">{{user.facebook.email}}</span></a>
      </div></li>

      {{/if}}

      <li><a href="/"><i class="material-icons">home</i>View spots</a></li>
      {{#if user}}
      <li><a class="modal-trigger" href="/new-spot"><i class="material-icons">add</i>Add a spot</a></li>
      {{else}}
      <li><a class="modal-trigger" href="#modalLogin" onclick="Materialize.toast('Log in first to add a spot', 4000)" ><i class="material-icons">add</i>Add a spot</a></li>
      {{/if}}

      <li><a class="modal-trigger" href="#modalAbout"><i class="material-icons">info</i>About</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Filter Spots</a></li>

      <div class="container">
        <select class='select' id="type" onchange="filterMarkersStyle(this.value); Materialize.toast('Filtered!', 2000);">
        <option value="">Flying style</option>
        <option value="Freestyle">Freestyle</option>
        <option value="Racing">Racing</option>
        <option value="Longrange">Long range</option>
        <option value="Everything">Everything</option>
    </select>

        <select id="type" onchange="filterMarkersType(this.value); Materialize.toast('Filtered!', 2000);">
        <option value="">Spot type</option>
        <option value="Field">Field</option>
        <option value="Park">Park</option>
        <option value="Forest">Forest</option>
        <option value="Parking Lot (Outdoor)">Parking Lot (Outdoor)</option>
        <option value="Parking Lot (Indoor)">Parking Lot (Indoor)</option>
        <option value="Building(s)">Building(s)</option>
        <option value="Other">Other</option>
        <option value="Building(s)">Building(s)</option>
    </select>
      </div>
      <div class="divider"></div>

      <br>
      <div class="card-panel green lighten-4 green-text text-darken-4"><b>Tip!</b> Use control or command + scroll to zoom in and out.</div>

      <div class="card-panel blue lighten-4 blue-text text-darken-4"><b>Welcome!</b> BandoMap is currently in Beta. Visit the <a href="https://github.com/mAzurkovic/BandoMap">
      GitHub repo</a> to contribute to the project.</div>
    </ul>

    {{{body}}}

    <!-- Modal Structure -->
    <div id="modalAbout" class="modal">
      <div class="modal-content">
        <h4>About</h4>
        <div class="divider"></div>
        <h5>General</h5>
        <p><b>BandoMap</b> is an application that allows for FPV pilots to discover and share new flying locations in thier area. To add a new flying spot, simply press the add button in the bottom right, or from the navigation bar and fill out the form
          with the information needed.</p>
        <h5>Tips</h5>
        <ol>
          <li>On mobile, make sure to swipe with both fingers to pan around the map.</li>
          <li>When adding a map, make sure someone has not already added that location.</li>
          <li>Press on a spot marker to view more information about the flying location.</li>
        </ol>
        <h5>Whats new!</h5>
        <p>
          <ol>
            <li>Integrate with Facebook to allow user authentication.</li>
            <li>Add a view spot page to see more info regarding the spot.</li>
            <li>Allow users to comment on spots to share their experiences flying there.</li>
          </ol>
        </p>
        <h5>Version</h5>
        <p>
          The current version of this application is <b>Beta v0.8.5</b>.
        </p>
        <h5>Code base</h5>
        <p>This is an opensource project initially created by Mattias Zurkovic. If you want to contribute feel free to submit a pull request at the <a href="https://github.com/mAzurkovic/BandoMap"> GitHib page</a>.</p>
      </div>
      <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
      </div>
    </div>
  </div>


  <!-- User Structure -->
  <div id="modalUser" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12 center-align">
          <img class='profile-img' src="http://graph.facebook.com/{{user.facebook.id}}/picture?width=120&height=120" alt="">
          <h5>{{{user.facebook.name}}}</h5>
          <p>{{user.facebook.email}}</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
      <a href="/logout" class="btn waves-effect waves-green red ">Logout</a>
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>
  </div>

  <div id="modalLogin" class="modal">
    <div class="modal-content">
      <div class="row">

        <p class="center-align" style="font-size: 18px;">To add and vote on spots, authenticate with your Facebook accout.</p>

        <div class="col s12 center-align">
          <a class="center-align waves-effect waves-light btn-large blue" href="/auth/facebook"><i class="material-icons left"><i class="fab fa-facebook-f"></i></i>Log in with Facebook</a>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>
  </div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBktahDyXxT0XCyMnbgb0yftsMmJ4rlN1k&callback=initMap"></script>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/documentStyles.js"></script>
  <script type="text/javascript">
  </script>

</html>
