<div class="container">

  {{#if spot.name}}
    <h4>{{spot.name}}</h4>
  {{else}}
    <h4>{{spot.address}}</h4>
  {{/if}}

  <h4>Comments</h4>

    <div class="row">
      <form class="col s12" action="/view/{{spot._id}}/{{user.facebook.id}}/{{user.facebook.name}}" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <input id="comment" type="text" name="commentText" class="validate">
            <label for="comment">Your comment</label>
          </div>

        <div class="row">
          <div class="col s12">
            <button class="btn-large waves-effect waves-light center-align" type="submit" name="action" style="background-color:#fbc02d;">Add Comment
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

      </form>
    </div>
    </div>

      <ul class="collection">
        {{#each spot.comments}}
        <li class="collection-item avatar">
          <img src="http://graph.facebook.com/{{this.commenterID}}/picture?width=120&height=120" alt="" class="circle">
          <span>{{this.commenterName}}</span>
          <p style="font-size: 16px;">{{this.body}}
          </p>
        </li>
        {{/each}}

      </ul>


</div>
